.ImgWidth {
  width: 500px;
  height: 400px;
}
.formWidth {
  width: 65%;
}
.newLine {
  display: none;
}
.forgotFormWidth {
  width: 400px;
}
.linkStyle {
  padding-left: 65px;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) {
  .ImgWidth {
    width: 275px;
    height: 300px;
  }
  .formWidth {
    width: 100%;
  }
  .linkStyle {
    padding: 0px;
  }
  .newLine {
    display: flex;
  }
  .forgotFormWidth {
    width: 300px;
  }
}
