.ImgWidth {
  width: 500px;
  height: 400px;
}
.formWidth {
  width: 65%;
}
.linkStyle {
  padding-left: 65px;
}
.newLine {
  display: none;
}

@media screen and (max-width: 768px) {
  .ImgWidth {
    width: 275px;
    height: 300px;
  }
  .formWidth {
    width: 100%;
  }
  .linkStyle {
    padding: 0px;
  }
  .newLine {
    display: flex;
  }
}
